extends: default

ignore: 
  - "swagger/**/*.yaml"
  - "public/**/*.yaml"
  - "tmp/**/*.yaml"
  - "vendor/**/*.yaml"

rules:
  document-start: disable
  truthy: disable
  brackets: disable
  empty-lines: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    level: warning
  indentation:
    indent-sequences: consistent
